git+https://github.com/netbox-community/netbox-qrcode.git@v0.0.17
git+https://github.com/netbox-community/netbox-reorder-rack.git@v1.1.3
git+https://github.com/NetTech2001/netbox-interface-synchronization.git@4.1.6
git+https://github.com/netbox-community/netbox-topology-views@v4.2.1
git+https://github.com/Kani999/netbox-attachments.git@7.2.0
git+https://github.com/ArnesSI/netbox-inventory.git@v2.3.0
git+https://github.com/netbox-community/netbox-floorplan-plugin.git@0.6.0
git+https://github.com/mlebreuil/netbox-contract.git@v2.4.0
git+https://github.com/jasonyates/netbox-documents.git@v0.7.2
git+https://github.com/DanSheps/netbox-lifecycle.git@v1.1.5
git+https://github.com/k1nky/netbox-otp-plugin.git@v1.3.1
