git+https://github.com/netbox-community/netbox-qrcode.git@v0.0.17
git+https://github.com/netbox-community/netbox-reorder-rack.git@v1.1.3
git+https://github.com/NetTech2001/netbox-interface-synchronization.git@4.1.6
git+https://github.com/netbox-community/netbox-topology-views@v4.2.0
git+https://github.com/Kani999/netbox-attachments.git@7.1.0
